html {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app > #page-container {
  margin-left: 5%;
  margin-right: 5%;
}

.text-content {
  overflow-wrap: break-word;
  padding: 0 5% 0 5%;
}

.text-content > .text-header {
  text-align: center !important;
  margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .flex-column-1 {
    flex: 1;
    min-width: 100%;
  }

  .flex-column-2 {
    flex: 1;
    margin: 2% 5% 5% 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .flex-column-1 {
    flex: 1;
    min-width: 100%;
  }

  .flex-column-2 {
    flex: 1 10px;
    margin: 5% 0 5% 0;
    min-width: 100%;
  }
}
